{% extends 'Layout/Base.html' %}
{% load static %}
{% block head %}

    <title>{% block title %}Login / SignUp{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

{% endblock %}
{% block content %}

    <div class="container">
        <div class="form-wrapper" id="form-wrapper">
            <form action="" class="email-form form">
                <div class="form__head">restore Email</div>

                <p class="form__text">Enter your email and we will sent you recovery code</p>
                <input type="email" placeholder="Email" class="form__input">


                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

